*{
    padding: 0px;
    margin: 0px;
}

.body{
    background-color: rgb(24, 24, 39);
    color: white;
    font-family: 'poppins', sans-serif;
}


.phone{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.wattsapp{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.github{
    height: 50px;
    width: 50px;
    border-radius: 30px;

}